*
{
	margin: 0;
}

body
{
	font-family: 'Open Sans', sans-serif;
	background-image: url("img/fasola.jpg");
	background-size: 1400px 1000px;
	
}

#wrapper
{
	width: 100%;
}

#topbar
{
	height: 300px;
	background: #eee;
}

#pojemnik
{
	width: 1050px;
	margin-left: auto;
	margin-right: auto;
	min-height: 1000px;
}

.socials
{
	text-align: right;
	padding: 15px 0 0 0;
}

.fb
{
	color: black;
	padding: 5px;
}

.insta
{
	color: black;
}

.fb:hover
{
	color: #3b5998;
}

.insta:hover
{
	color: #3b5998;
}

#logo
{
	text-align: center;
	padding-right: 30px;
	height: 113px;
	 margin-bottom: 15px;
}

#nav 
{
	display: flex;
	width: 100%;
}

#menu
{
	width: 100%;
	
	
}

#menu > ul 
{
	list-style-type: none;
	padding: 0;
	display: flex;
	justify-content: center;
	
	
	
}

#menu > ul > li 
{
	
	text-transform: uppercase;
	letter-spacing: 3px;
	font-weight: 600;
	cursor: pointer;
	margin-right: 20px;
	
}

#menu > ul > li:hover
{
	border-bottom: black solid 1px;
}

#button
{
	
}

.line
{
	width: 60px;
	border-bottom: black solid 1px;
	margin-top: 15px;
	margin-bottom: 40px;
	margin-left: auto;
	margin-right: auto;
}

.menu2
{
	display: flex;
	justify-content: center;
	
}

.menu2 > div
{
	margin-right: 10px;
	font-size: 14px;
}

.menu2 > a
{
	margin-right: 10px;
	font-size: 14px;
	text-decoration: none;
	color: black;
}

.menu2 > a:hover
{
	border-bottom: black solid 1px;
}

.bold
{
	font-weight: bold;
}

#text
{
	width: 700px;
	min-height: 1000px;
	background: #eee; 
	margin-top: 150px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 50px;
	padding-right: 100px;
	padding-left: 100px;
	padding-bottom: 50px;
}

.text2
{
	text-align: justify;
	margin-top: 50px;
	font-size: 18px;

}

.text-center
{
	text-align: center;
}

.socials2
{
	display: flex;
	justify-content: center;
	margin-top: 20px;
	margin-bottom: 50px;
}

.socials2 > a
{
	padding: 2px;;
}

#text > .menu2 > div
{
	height: 60px;
	line-height: 180%;
	margin: 0 20px 0 20px;
}

.border-right
{
	border-right: #585751 solid 1px;
	height: 60px;
	
	
}

.przepis
{
	background-color: white;
	margin-top: 20px;
	padding: 15px 40px 30px 40px;
	
	
}

.text-left
{
	text-align: left;
}

