
.icon-link:before { content: '\e800'; } /* '' */
.icon-gplus:before { content: '\f05a'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */
.icon-facebook:before { content: '\f300'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
.icon-instagram:before { content: '\f31e'; } /* '' */
